name: github pages

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache cargo registry
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
          key: ${{ runner.os }}-cargo-${{ hashFiles('.github/workflows/mdbook.yml') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        # with:
        #   mdbook-version: '0.4.51'
      - name: Install mdbook-yml-header # drop yml frontmatter
        run: command -v mdbook-yml-header || cargo install mdbook-yml-header
      # - name: Install callouts # add callouts
      #   run: command -v mdbook-callouts || cargo install mdbook-callouts
      # - name: Install mdbook-last-changed # add footer with last changed and commit hash
      #   run: command -v mdbook-last-changed || cargo install mdbook-last-changed
      # - name: Install mdbook-tailor # style images
      #   run: command -v mdbook-tailor || cargo install mdbook-tailor

      - run: mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
          cname: notes.vogt.dev
